@{
    ViewData["Title"] = "Home Page";
}

<h2>Configuration Example</h2>

<p>Environment: <b>@ViewData["Env"]</b></p>

<p>Sample Key: <b>@ViewData["SampleKey"]</b></p>

<p>Nested Key: <b>@ViewData["NestedKey"]</b></p>